<!DOCTYPE html>
<html>
<style type="text/css">
body
{
	/*background:"C:\Users\Anil kumar\Desktop\dattatreya-images;"*/
	background: url('file:///C:\Users\Anil kumar\Desktop\dattatreya-images.jpg') no-repeat center center fixed;
}
table
{
 border-collapse: collapse;
 border-color: green;
 font-family: Arial;
 background-color: #FFC107;;
}
td
{
	padding: :5px;
	border:1px solid black;
}
th
{
	padding: 5px;
	text-align: left;
	border: 1px solid black;
}
#td1
{
	/*font-size: 22px;*/
	font-weight: bold;
	color:#673AB7;
}
</style>
<script src="C:\Program Files\angular.min.js"></script>
<!--<script src="C:\Users\Anil kumar\Desktop\AngularPractice\script.js">ng-init="parentIndex=$index"</script>-->
<body ng-app="myApp" ng-controller="myCtrl">

<div>
	<div class="col-md-12">
	   <div>Limit rows to display by using select_button: <input type="number" set="1" min="0" max="5" ng-model="rowsLimit"></div>
	   <div>Limit rows to display by using dropdown: <select set="1" min="0" max="5" ng-model="rowsLimit">
	   	     <option value="0">0</option>
	   	     <option value="1">1</option>
	   	     <option value="2">2</option>
	   	     <option value="3">3</option>
	   	     <option value="4">4</option>
	   	     <option value="5">5</option>
	   	 </select></div>
	   </div>
	    <br>
	   <div class="col-md-6">Please select dropdown button to sort data:<select ng-model="sortData">
		                                        <option value="name">Name ASC</option>
		                                        <option value="-likes">Likes DESC</option>
		                                        <option value="-disLikes">Dislikes DESC</option>
		                                        <option value="dates">DateOfPublish ASC</option>
		                                        <option value="cost">Cost ASC</option>
	                                           </select>
	    </div>
	
	<br>
	<table>
	 <thead>
	 	<tr>
	 		<th>Name</th>
	 		<th>Likes</th>
	 		<th>Dislikes</th>
	 		<th>Likes/disLikes</th>
	 		<th>DateOfPublish</th>
	 		<th>Cost(number)</th>
	 		<th>Cost(currency)</th>
	 	</tr>
	 </thead>
	 <tbody>
	 	<!--<tr ng-repeat="technology in technologies |limitTo:2:2">It specifies no.of rows and grom what index the table to be start-->

	 		<tr ng-repeat="technology in technologies |limitTo:rowsLimit |orderBy:sortData"><!-- it will dynamically increase/decrese the table size-->
	 		<td id=td1>{{technology.name|lowercase}}</td>
	 		<td>{{technology.likes}}</td>
	 		<td>{{technology.disLikes}}</td>
	 		<td><input type="button" value="likes" ng-click="increamentLikes(technology)">
	 			<input type="button" value="disLikes" ng-click="increamentDisLikes(technology)"></td>
	 			<td>{{technology.dates|date:dd/MMM/yyyy}}</td>
	 			<td>{{technology.cost|number:2}}</td>
	 			<td>{{technology.cost|currency:"£":2}}</td>
	 	</tr>
	 </tbody>
</table>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
   var technologies=[
                      {name:"C#",likes:0,disLikes:0,dates:new Date("November 30,1998"),cost:55000.322},
                      {name:"Java",likes:0,disLikes:0,dates:new Date("November 23,1998"),cost:53000},
                      {name:"C",likes:0,disLikes:0,dates:new Date("November 13,1998"),cost:523202},
                      {name:"AngularJS",likes:0,disLikes:0,dates:new Date("November 24,1998"),cost:345675},
                      {name:"HTML",likes:0,disLikes:0,dates:new Date("November 12,1998"),cost:234567},
                      {name:"CSS",likes:0,disLikes:0,dates:new Date("November 29,1998"),cost:234566}
                    ];
   $scope.technologies=technologies;
   $scope.increamentLikes=function(technology)
   {
     technology.likes++;
   }
   $scope.increamentDisLikes=function(technology)
   {
     technology.disLikes++;
   }
   //$scope.rowsLimit="3";/*it will display upto rowslimit by default*/
   //$scope.rowsLimit="limitTo";/*it will display upto max rowslimit by default*/
   $scope.rowsLimit=3;
   $scope.sortData="name";
});
</script>
</body>
</html>
