<!DOCTYPE html>
<html>
<script src="C:/Program Files/angular.min.js"></script>

<body ng-app="myApp" >
 <p>Type your First & Last Name</p>

<div ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
<p> Full Name will Change Dynamically if you change your first name or last name or both</p>
Full Name: {{firstName + " " + lastName}}

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
});
</script>
</body>
</html>
