<!DOCTYPE html>
<html>
</style>
<script src="C:\Program Files\angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCtrl" >

<div>
<ul>
	<li ng-repeat="country in countries" >
		{{country.name}} 

		<ul>
			<li ng-repeat="city in country.cities">
				{{city.name}} &nbsp<button>ParentIndex={{$parent.$index}}</button> &nbsp &nbsp<button> childIndex={{$index}}</button>
			</li>
		</ul>
	</li>
</ul>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
   var countries=[
                    {name:"UK",
                    	cities:[
                    	{name:"London"},
                    	{name:"Manchester"},
                    	{name:"Birgingham"} 
                    	]
                    },
                    {name:"USA",
                    	cities:[
                    	{name:"NewYork"},
                    	{name:"Washington"},
                    	{name:"LasVegas"}
                    	]
                    },
                    {name:"India",
                    	cities:[
                    	{name:"Delhi"},
                    	{name:"Mumbai"},
                    	{name:"Bangalore"}
                    	]
                    }
                 ];
   $scope.countries=countries;
});
</script>
</body>
</html>
